<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="APP_bin" FileSource="$(var.HGLib.TargetDir)">
      <Component Id="C_HGLib.dll" Guid="DADADA00-85b9-47f7-8567-99f9f6e6c5b8">
        <File Id="File_HGLib.dll" Name="HGLib.dll" Checksum="yes" Vital="yes" KeyPath="yes" />
        <?ifdef HGLib_Pdb?>
        <File Id="File_HGLib.pdb" Name="HGLib.pdb" Checksum="yes" Vital="yes" />
        <?endif ?>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
