<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?ifndef visualhgVersion ?>
  <?define visualhgVersion=1.0 ?>
  <?endif?>
  <Fragment>
    <ComponentGroup Id="VisualHG.scc">
      <ComponentRef Id="C_VisualHG.dll" />
    </ComponentGroup>
    <DirectoryRef Id="APP_bin" FileSource="$(var.VisualHG.TargetDir)">
      <Component Id="C_VisualHG.dll" Guid="DADADA00-a6c0-4cb9-b791-22dc650900a4">
        <!-- File must be called File_$(VisualHG.TargetName).dll for the following includes-->
        <File Id="File_VisualHG.dll" Name="VisualHG.dll" Checksum="yes" Vital="yes" KeyPath="yes" />
        <?ifdef VisualHG_Pdb?>
        <File Id="File_VisualHG.pdb" Name="VisualHG.pdb" Checksum="yes" Vital="yes" />
        <?endif ?>
        <Registry Root="HKLM" Key="Software\VisualHG\VisualHG\CurrentVersion\Installation" Name="CurrentVersion" Value="$(var.visualhgVersion)" Type="string"/>
        <Registry Root="HKLM" Key="Software\VisualHG\VisualHG\CurrentVersion\Installation" Name="InstallLocation" Value="[INSTALLLOCATION]" Type="string"/>
        <Registry Root="HKLM" Key="Software\VisualHG\VisualHG\Installation\1.0" Name="CurrentVersion" Value="$(var.visualhgVersion)" Type="string"/>
        <Registry Root="HKLM" Key="Software\VisualHG\VisualHG\Installation\1.0" Name="InstallLocation" Value="[INSTALLLOCATION]" Type="string"/>
        <?include $(var.VisualHG.TargetDir)$(var.VisualHG.TargetName)-2005.wxi ?>
        <?include $(var.VisualHG.TargetDir)$(var.VisualHG.TargetName)-2008.wxi ?>
        <?include $(var.VisualHG.TargetDir)$(var.VisualHG.TargetName)-2010.wxi ?>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
